@media (min-width:1800px){
    .sec3 .body .discription{
        width: 25%;
    }
}
@media (max-width:1300px){
    .sec5 .body .cards_member{
        width: 600px;
        height: 170%;
    }
}
 @media (max-width:1250px){
    .sec3 .content{
        flex-direction: column;
    }
    .sec3 .content main{
        width: 100%;
        height: 50%;
    }
    .sec3 .content main section{
        align-items: center;
    }
    .sec3 .content main section .img_ini{
        height: 40vw;
        width: 90%;
    }
    .sec3 .content main section .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 40px;
    }
    .sec3 .content main section .details .desc{
        padding-top: 10px;
    }
    .sec3 .content .sections{
        width: 100%;
        height: 50%;
    }
    .sec5 .body .cards_member{
        width: 550px;
    }
}
@media (max-width:1150px){
    .sec1 .main .body{
        background-position: 80%;
    }
    .sec3 .body .discription .disc{
        font-size: 15px;
    }
    .sec5 .body .cards_member{
        width: 500px;
        height: 150%;
    }
}
@media (max-width:1050px){
    nav{
        height: 90px;
    }
    nav .body .logo{
        width: 250px;
        height: 90%;
    }
    .sec3 .body{
        display: flex;
        flex-direction: column;
    }
    .sec3 .body .discription{
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
        z-index: 2;
        align-items: center;
        padding: 3vw 6.25vw 3vw 6.25vw;
    }
    .sec3 .body .discription .slide_discription .under_disc{
        align-items: center;
        padding: 3vw 6.25vw 50px 6.25vw;
    }
    .sec3 .body .discription .title1{
        font-size: 42px;
    }
    .sec3 .body .discription .title2{
        font-size: 24px;
    }
    .sec3 .body .discription .disc{
        font-size: 14px;
        text-align: center;
    }
    .sec3 .body .discription .buttons{
        bottom: 0;
        left: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .sec3 .body .discription .icon2{
        width: 40%;
    }
    .sec3 .body .slider{
        width: 100%;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        z-index: 3;
    }
    .sec3 .body .slider .slider-wrapper {
        width: 97%;
        height: 87%;
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .sec5 .body .cards_member{
        width: 450px;
        height: 150%;
    }
}
@media (max-width:1040px){
    #button_open{
        display: block;
    }
    #button_close{
        position: static;
        width: 100%;
        height: 90px;
        background-color: #ffffff;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 10px;
    }
    nav .body ul{
        position: absolute;
        height: 100vh;
        width: 350px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        top: -0.8vw;
        left: -100%;
        z-index: 999;
        transition: 0.8s ease;
    }
    nav .body ul li{
        margin-bottom: 10px;
        font-size: 25px;
        width: 70%;
    }
    nav .body ul .list-group-item{
        width: 100%;
        display: block;
        color: #000;
        transition: .4s ease
    }
    nav .body ul .list-group-item:hover{
        background-color: #eabc96;
        color: #fff;
    }
    nav .body ul .list-group-item:hover::before{
        width: 0;
    }
    nav .body .back_black{
        display: block;
    }
    .sec2 .card1 p{
        font-size: 15px;
    }

    .sec7 .body .second_part{
        flex-direction: column;
        align-items: center;
    }
    .sec7 .body .second_part .card_des{
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    .sec7 .body .second_part .card_des .send{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }
    .sec7 .body .second_part .card_des .title{
        font-size: 20px;
    }
}
@media (max-width:900px){
    .sec6 .body .first_part .card_des{
        height: 10vw;
    }
    .sec6 .body .first_part .card_des .card_desc .number{
        font-size: 30px;
    }
    .sec4 .body .cards_pack .card {
        width: 180px;
        height: 200px;
      }
}
@media (max-width:880px){
    .sec3 .body .discription .title1{
        font-size: 5vw;
    }
    .sec3 .body .discription .title2{
        font-size: 3vw;
    }
    .sec4 .body .title p{
        font-size: 5vw;
    }
    .sec5 .body .cards_member{
        height: 190px;
        left: 0px;
        top: -70px;
    }
    .sec5 .body .cards_member img{
        height: 130%;
    }
    .sec5 .body .discription{
        width: 70%;
    }
    .sec5 .body .discription .title{
        font-size: 5vw;
    }
    .sec7 .body .second_part{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .sec7 .body .second_part .card_des{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 20px;
    }
}
@media (max-width:700px){
    #button_close {
        height: 70px;
    }
    nav{
        height: 70px;
    }
    nav .body .logo{
        width: 180px;
    }
    .sec1 .body{
        flex-direction: column;
    }
    .sec1 .main .body .text_part{
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .sec1 .main .body .text_part .title3{
        text-align: center;
        width: 100%;
    }
    .sec1 .body .text_part .btn-conteiner{
        margin-top: 20px;
    }
    .sec1 .main .body .text_part .title1{
        font-size: 25px;
    }
    .sec1 .main .body .text_part .title2{
        font-size: 55px;
    }
    .sec1 .main .body .text_part .title3{
        font-size: 14px;
    }
    .sec2{
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .sec2 .card_des{
        position: static;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .sec2 .card2 .title{
        position: static;
        width: 50vw;
        font-size: 60px;
    }
    .sec2 .card1{
        padding: 10px;
        margin: 0;
    }
    .sec2 .card1 p{
        font-size: 20px;
    }
    .sec2 .card2{
        height: 120px;
    }
    .sec2 .card2 .title{
        height: 80px;
        bottom: 50px;
    }
    .sec3 .body .discription .title1{
        font-size: 6vw;
    }
    .sec3 .body .discription .title2{
        font-size: 4vw;
    }
    .sec4 .body .cards_pack .card {
        width: 160px;
        height: 180px;
    }
    .sec3 .body .slider .slider-container {
        width: 220px;
    }
    .sec3 .body .slider .slider-wrapper {
        width: 100%;
        height: 100%;
    }
    .sec3 .body .slider{
        height: 350px;
    }
    .sec4 .body .title p{
        font-size: 6vw;
    }
    .sec5 .body .cards_member{
        width: 50%;
    }
    .sec5 .body .cards_member img{
        width: 100%;
    }
    .sec5 .body .discription{
        width: 90%;
    }
    .sec5 .body .discription .title{
        font-size: 6vw;
    }
    .sec5 .body .discription .btn-content2{
        height: 40px;
    }
    .sec7 .body .second_part .card3 .send{
        display: flex;
        flex-direction: column;
    }
    .sec7 .body .second_part .card3 .send .desc3{
        margin-top: 15px;
    }
    footer{
        height: 70px;
    }
}
@media (max-width:650px){
    .sec3 .content .sections section .img{
        min-width: 250px;
        height: 150px;
    }
    .sec3 .content .sections section .details{
        padding: 10px 0 10px;
    }
    .sec3 .content .sections section .details .title p{
        display: flex;
        flex-direction: column;
    }
    .sec3 header{
        margin-bottom: 20px;
    }
    .sec3 header button{
        height: 40px;
        font-size: 13px;
    }
    .sec3 .body .discription{
        height: 300px;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
    }
    .sec3 .body .slider .slider-wrapper {
        width: 75%;
    }
    .sec3 .body .slider{
        height: 300px;
    }
}
@media (max-width:550px){
    .sec4 .body .cards_pack .card {
        width: 150px;
        height: 170px;
    }
    .sec5 .body .cards_member{
        height: 120px;
        left: 0px;
        top: -40px;
    }
    .sec6 .body .first_part{
        flex-direction: column;
    }
    .sec6 .body .first_part .card2{
        border: 2px solid #c5c5c570;
        border-color: #a0a0a096 transparent;
    }
    .sec6 .body .first_part .card_des{
        height: 100px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .sec6 .body .first_part .card_des .icon{
        width: 60px;
        height: 100%;
        margin-left: 20px;
    }
}
@media (max-width:450px){
    nav .body ul{
        height: 100vh;
        width: 90%;
    }
    nav .body ul li{
        font-size: 20px;
    }
    nav{
        height: 50px;
    }
    nav .body .logo{
        width: 150px;
    }
    #button_close{
        height: 50px;
    }
    .sec3 .content main section .img_ini{
        height: 55vw;
        width: 100%;
    }
    .sec3 .content .sections section{
        flex-direction: column;
    }
    .sec3 .content .sections section .details{
        align-items: center;
    }
    .sec3 .content .sections section .details .title p{
        align-items: center;
    }
    footer{
        height: 50px;
    }
}