/*////////////////////////body sections */
.sec1{
    width: 100vw;
    padding: 0;
    height: 120vh;
    position :relative;
}
.sec1 .main{
  width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}
/* ********sec1 */
.sec1 .main .body{
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-image: url(../upload/bg.jpg);
    padding: 3.13vw 6.25vw;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
/* premier part */
.sec1 .main .body .text_part{
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.sec1 .main .body .text_part .title1{
    font-size: 30px;
    text-align: center;
}
.sec1 .main .body .text_part .title2{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.sec1 .main .body .text_part .title3{
    font-size: 15px;
    width: 650px;
    margin-top: 40px;
}
.sec1 .main .body .text_part .btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #86637a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  
.sec1 .main .body .text_part .btn-content {
    padding: 5px;
    margin-top: 40px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border: 0.2vw solid transparent;
    border-radius: 0.8vw;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
.sec1 .main .body .text_part .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
    width: 230px;
  }
  
.sec1 .main .body .text_part .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
.sec1 .main .body .text_part  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }

.sec1 .main .body .text_part .btn-content .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    right: 50%;
    transform: rotateZ(180deg);
  }
    
  /* SVG */
.sec1 .main .body .text_part #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
.sec1 .main .body .text_part #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
.sec1 .main .body .text_part .btn-content #arrow-icon-three {
    fill: #e79b66;
  }
  
.sec1 .main .body .text_part .btn-content #arrow-icon-one {
    fill: #e79b66;
  }
  
.sec1 .main .body .text_part .btn-content #arrow-icon-two {
    fill: #e79b66;
  }
  .sec1 .main .body .text_part .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
.sec1 .main .body .text_part .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
.sec1 .main .body .text_part .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: #e79b66;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: #e79b66;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content2 {
    0% {
      outline: 5px solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content2 {
    0% {
      outline: 10px solid var(--color-background);
      outline-offset: 0;
    }
  }
