/* ////////////////////////nav bar */
nav{
    padding: 0.8vw 6.25vw;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
    transition: background-color 1s ease;
}
#navbar.scrolled {
    background-color: #353e59bb;
}
nav .body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav .body .logo{
    width: 270px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav .body .logo img{
    width: 120%;
}
#button_open{
    display: none;
    font-size: 30px;
}
#button_close{
    display: none;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
}
nav .body ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style: none;
    text-decoration: none;
}
nav .body .back_black{
    width: 100vw;
    height: 100vh;
    background-color: #00000031;
    position: fixed;
    top: 0;
    left: -100vw;
    display: none;
}
nav .body ul li{
    margin-right: 5px;
    font-size: 20px;
}
nav .body ul .list-group-item{
    position: relative;
    color: #fff;
    padding: 6px 10px;
    border: 0 solid transparent;
    border-radius: 10px;
    width: 100%;
}
nav .body ul li .list-group-item::before{
    content: '';
    position: absolute;
    background-color: #f6a462;
    height: 7%;
    width: 0;
    top: 90%;
    left: 50%;
    transition: 0.3s ease;
}
nav .body ul .list-group-item:hover::before{
    width: 90%;
    left: 5%;
}
nav .body ul .list-group-item.active {
    background-color: #f6a462 ;
    border: transparent;
    color: #fff;
}
