/* ********sec4 */
.sec4{
    width: 100%;
    padding: 6.25vw 3vw;
}
.sec4 .body{
    display: flex;
    flex-direction: column;
}
.sec4 .body .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vw;
}
.sec4 .body .title p{
    font-size: 3vw;
    font-weight: 700;
    color: #78d3d6;
}
.sec4 .body .cards_pack{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vw;
}
.sec4 .body .cards_pack .card {
    display: block;
    position: relative;
    width: 200px;
    height: 220px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 7px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background-color: #ede3de;
    transition: 0.4s ease;
    cursor: pointer;
  }
.sec4 .body .cards_pack .card .card1{
    width: 100%;
    height: 100%;
    background-image: url(../upload/card1.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #ede3de;
}
.sec4 .body .cards_pack .card .card2{
    width: 100%;
    height: 100%;
    background-image: url(../upload/card2.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #ede3de;
}
.sec4 .body .cards_pack .card .card3{
    width: 100%;
    height: 100%;
    background-image: url(../upload/card3.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #ede3de;
}
.sec4 .body .cards_pack .card .card4{
    width: 100%;
    height: 100%;
    background-image: url(../upload/card4.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #ede3de;
}
.sec4 .body .cards_pack .card .card5{
    width: 100%;
    height: 100%;
    background-image: url(../upload/card5.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #ede3de;
}
.sec4 .body .cards_pack .card .card6{
    width: 100%;
    height: 100%;
    background-image: url(../upload/card6.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #ede3de;
}

  
.sec4 .body .cards_pack .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #78d3d6, #5eb7ba);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
.sec4 .body .cards_pack .card:hover {
    transform: scale(1.1);
  }
.sec4 .body .cards_pack .card:hover:before {
    transform: scale(28);
  }
  
.sec4 .body .cards_pack .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
.sec4 .body .cards_pack .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  